@charset "UTF-8";

/* PALETA DE COR
branco: rgb(250,252,245)
verde claro: rgb(121,161,114)
verde escuro: rgb(40,77,27)
rgb(29, 66, 16)
argila: rgb(192,142,97)
marrom: rgb(159,85,49)
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 400vh;
    scroll-behavior: smooth;
}

body{
    scroll-behavior: smooth;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 30px 4%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.5s;
}

header.rolagem{
    background-color: rgba(255, 255, 255, 0.623);
    padding: 20px 4%;

}

header.rolagem a{
    color: black;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0px 40px;
}

header ul li a{
    font-family: 'Crimson Text';
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.banner{
    background-image: url(../images/historia/_A637907.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.s2{
    margin-top: 30px;
}

.text1{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    gap: 30px;
}



.intro{
    margin-top: 20px;
    display: flex;
    gap: 30px;
}

.worker{
    
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 500px;
}

.sect{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.text2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}

.global{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.worker1{
    width: 500px;
}

.foto1{
    background: url(../images/historia/_MG_0753.jpg);
    width: 500px;
    background-position: center;
    background-size: cover;
    height: 400px;
    display: flex;
    margin-left: 90px;
    margin-top: 40px;
}

.s3{
    margin-top: 70px;
}

.inter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.group{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.mom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: url(../images/historia/_MG_0718.jpg);
    height: 400px;
    width: 500px;
    background-position: center;
    background-size: cover;   
}

.titles{
    text-align: center;
    font-family: "Crimson Text";
    font-weight: 600;
    font-size: 36px;
    color: rgb(29, 66, 16);
}

.paragrafos{
    font-family: "Oxygen";
    margin-top: 20px;
    font-size: 18px;
}