@charset "UTF-8";

/* PALETA DE COR
branco: rgb(250,252,245)
verde claro: rgb(121,161,114)
verde escuro: rgb(40,77,27)
rgb(29, 66, 16)
argila: rgb(192,142,97)
marrom: rgb(159,85,49)
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 500vh;
    scroll-behavior: smooth;
}

body{
    scroll-behavior: smooth;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 30px 4%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.5s;
}

header.rolagem{
    background-color: rgba(255, 255, 255, 0.623);
    padding: 20px 4%;

}

header.rolagem a{
    color: black;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0px 40px;
}

header ul li a{
    font-family: 'Crimson Text';
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.banner{
    background-image: url(../images/home-page/_MG_0823.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.box1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: auto;
    background-color:rgb(196, 154, 117);
    height: 350px;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.226);
}

.food{
    width: 320px;
    margin-top: 60px;
}

.about{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    border-radius: 2px;
}

.title{
    font-family: 'Crimson Text';
    font-weight: 500;
    font-size: 37px;
    color: white;
}

.text{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    width: 300px;
    color: white;
    font-family: 'Oxygen';
}

.link1{
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    color: white;
    font-family: 'Oxygen' ;
    display: inline-block;
    margin: 0px 40px;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
}

.link1::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: bottom right;
    background-color: rgb(40,77,27);
}

.link:hover{
    color: rgb(40,77,27);
}

.link1:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.button-info{
    width: 170px;
    height: 30px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    background-color: rgb(211, 167, 129);
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(73, 73, 73, 0.247);
}

.button-info:hover{
    background-color: rgb(29, 66, 16);
    color: white ;
    transition: 0.9s;
    border-radius: 10px;
}

.fotoinicio{
    overflow: hidden;
    height: 270px;
    position: relative;
}

.mural{
    width: 180px;
    
}

.pratos{
    display: flex;
    gap: 5px;
}

.gengibre{
    margin-top: 5px;
    background: url(../images/home-page/_MG_0670.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 640px;
}

.bloquin{
    display: flex;
    gap: 2px;
}

.feijoada{
    margin-top: 5px;
    background: url(../images/home-page/_MG_0674.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 668px;
}

.prato{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.banana{
    background: url(../images/home-page/_MG_0705.jpg);
    background-position: bottom center;
    background-size: cover;
    height: 198px;
    width: 300px;
}

.textprat{
    position: absolute;
    transform: translate(155%, 600%);
}

.titi{
    text-align: center;
    font-family: "Crimson Text";
    font-weight: 600;
    font-size: 36px;
    color: rgb(29, 66, 16);
}

.sub{
    color: rgb(29, 66, 16);
    font-size: 22px;
}

.sub1{
    color: rgb(29, 66, 16);
    margin-left: 60px;
    font-size: 18px;
}

.link2{
    margin-top: 30px;
    text-decoration: none;
}

.product-title{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont-gallery{
    display: flex;
    gap: 5px;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    height: 400px;
}

.cont-gallery::-webkit-scrollbar{
    display: none;
}


.tex-gall{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    width: 700px;
    margin-left: 50px;
    margin-right: 50px;
}

.t1{
    font-size: 30px;
    color: rgb(29, 66, 16);
}

.t2{
    font-size: 22px;
    color: rgb(29, 66, 16);
}

.t3{
    font-size: 16px;
    color: rgb(29, 66, 16);
}

.wrapper{
    height: 400px;
}

.cont-img{
    width: 300px;
    height: 400px;
    object-position: bottom center;
}

.img-gallery{ 
    height: 400px;
    width: 280px;
}

.left-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.arrow{
    cursor: pointer;
}